@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

body {
  overflow: hidden;
  background-image: url(/assets/index\ –\ 1weew.png);
}

span {
  font-family: "Big Shoulders Display", serif;
  font-size: calc(50px + 0.390625vw);
  font-weight: 900;
  color: white !important;
  text-decoration: none;
  text-shadow: 2px 1.5px 3px #000000;
  letter-spacing: 1.5px;
}

body main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

footer {
  position: sticky;
  min-height: auto;
}

footer .row {
  margin: 0 auto;
  min-width: auto;
  width: 90vw;
}

footer .columns {
  min-width: 120px;
  width: auto;
  max-width: 120px;
  margin: 0 auto;
}