<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
        content="Página de la Municipalidad de Río Gallegos que informa a los ciudadanos y turistas de los espectáculos en la ciudad." />
    <link rel="stylesheet" href="/styles/artistas.css" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" />
    <title>Artistas - Festival Río Gallegos 2025</title>
</head>

<body>
    <nav class="navbar">
        <div class="logoRG">
            <a href="/index.html">
                <img src="/assets/logo naranja con sombra.png" alt="Logo Festival RG" />
            </a>
        </div>
        <ul>
            <li><a href="/views/artistas.html">ARTISTAS</a></li>
            <li><a href="/views/ubicaciones.html">UBICACIONES</a></li>
            <li><a href="/views/puestos.html">PUESTOS</a></li>
            <li><a href="/views/contactos.html">CONTACTOS</a></li>
            <li><a href="/views/galeria.html">GALERÍA</a></li>
        </ul>
    </nav>
    <h1>ARTISTAS NACIONALES</h1>
    <div class="tm">
        <img src="" alt="">
    </div>
</body>
<footer></footer>

</html>