<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
        content="Página de la Municipalidad de Río Gallegos que informa a los ciudadanos y turistas de los espectáculos en la ciudad." />
    <link rel="stylesheet" href="/styles/ubicaciones.css" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <title>Artistas - Festival Río Gallegos 2025</title>
</head>

<body>
    <nav class="navbar">
        <div class="logoRG">
            <a href="/index.html">
                <img src="/assets/logo naranja con sombra.png" alt="Logo Festival RG" />
            </a>
        </div>
        <ul>
            <li><a href="/views/artistas.html">ARTISTAS</a></li>
            <li><a href="/views/ubicaciones.html">UBICACIONES</a></li>
            <li><a href="/views/puestos.html">PUESTOS</a></li>
            <li><a href="/views/contactos.html">CONTACTOS</a></li>
            <li><a href="/views/galeria.html">GALERÍA</a></li>
        </ul>
    </nav>
    <h1>UBICACIONES</h1>
    <div class="mapa">
        <img src="/assets/MAPA 139 MEDIO PELO.png" alt="">
    </div>
    <div class="boxing">
        <h2>ESCENARIO BOXING CLUB</h2>
        <div class="imgs">
            <img class="img1" src="/assets/img/dron boxing.JPG" alt="Escenario Boxing Club" />
            <img class="img2" src="/assets/img/boxing escenario.png" alt="Escenario Boxing Club 2" />
        </div>
        <div class="descripcionB">
            Fundada el 23 de agosto de 1920, la Asociación Atlético Boxing Club
            es una institución centenaria de la ciudad de Río Gallegos.
            Desde el festival 136 que el predio del Boxing Club es sede
            oficial del festival más grande de la Patagonia Argentina.
        </div>
    </div>
    <div class="rural">
        <h2>ESCENARIO RURAL</h2>
        <div class="imgs_r">
            <img class="img3" src="/assets/img/rural1.jpg" alt="Escenario Rural" />
            <img class="img4" src="/assets/img/rural2.jpg" alt="Escenario Rural 2" />
        </div>
        <div class="descripcionR">
            Fundada por A. Morrison en 1909, refundada en 1918 y la última vez en 1921
            de la mano de Ibon Noya, la Sociedad Rural forma parte del festival de
            Río Gallegos desde el mismo tiempo que lo hace el Boxing Club,
            siéndo host de muchos artistas y emprendedores locales
            que elevan el atractivo turístico de nuestra ciudad capital.
        </div>
    </div>
</body>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img class="logof"src="/assets/membrete blanco.png" alt="">
            </div>
            <div class="col-md-4">
                <p>SECRETARÍA DE COORDINACIÓN EJECUTIVA / DIRECCIÓN DE COMUNICACIÓN PÚBLICA</p>
            </div>
            <div class="col-md-4">
                <img class="logof"src="/assets/G.png" alt="">
            </div>
        </div>
    </div>
</footer>

</html>